@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container text-center">
  <h1>&#128293 Your To Do List! &#128169</h1>
  @if(@Model.Count == 0)
  {
    <h3>No categories have been added yet!</h3>
  }
  @foreach(var category in Model)
  {
    <h3><a href='/categories/@category.GetId()'>@category.GetName()</a></h3>
  }
  <p><a href='/'>Home</a></p>
</div>
